.example-card {
    max-width: 400px;
    background-color:rgb(253, 219, 174);
    float: left;
    margin: 10px;
    padding: 20px;
    box-shadow: 10px 10px 20px;
    cursor: pointer;
    transition: all .4s ;
  }
  .example-card:hover{
    transform: scale(1.05);
  }
  
  .btn{
      background-color: red;
      font-weight: bold;
      border: 1px solid transparent;
  }
  .btn:hover{
    background-color:rgb(246, 161, 127);
    border: 1px solid gray;
  }
  .mat-card-header{
    justify-content: center;
  }
  .mat-card-actions{
    text-align: center;
    /* display: flex; */

  }